<div class="container">

  <h1>Book Form</h1>
  <form #bookForm="ngForm">
    
<!--
    <h2> title field </h2>
    <li><b>$dirty:</b>  {{title.dirty}} The field has been modified.
    <li><b>$touched:</b> {{title.touched}} The field has been touched.(focus has been lost)
    <li><b>$invalid:</b> {{title.invalid}} The field content is not valid.
    <li><b>$valid:</b> {{title.valid}} The field content is valid.
-->
    <div class="form-group">
    
      <!-- label -->
      <label for="title">Title</label>
      
      <!-- input ngModel -->
      <input [(ngModel)]="model.title" required minlength="5" placeholder="Insert the title" type="text" class="form-control"   id="title" required  name="title" #title="ngModel">
  
      <!--validations #title -->
      <div *ngIf="title.errors && (title.dirty || title.touched)" class="alert alert-danger">
          <div  *ngIf="title.errors.required">
            Book title is required!!
          </div>
          <div *ngIf="title.errors.minlength">
            Title must be at least 5 characters long.
          </div>
      </div>
    </div>

    <div class="form-group">
      <label for="author">Author</label>
      <input [(ngModel)]="model.author" placeholder="Insert the author" type="text" class="form-control" id="author" required  name="author" #author="ngModel">
       <!--validations #title -->
      <div *ngIf="author.errors && (author.dirty || author.touched)" class="alert alert-danger">
        <div  *ngIf="author.errors.required">
          Author is required!!
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <label for="url">URL</label>
      <!-- regolar expression validation -->
      <input [(ngModel)]="model.url" placeholder="Insert the author" type="text" class="form-control" id="url" required pattern="https?://.+"  name="url" #url="ngModel">
      
      <div *ngIf="url.errors && (url.dirty || url.touched)" class="alert alert-danger">
        <div [hidden]="!url.errors.required">
          URL is required!
        </div>
        <div [hidden]="!url.errors.pattern">
          Must be a valid URL!
        </div>
      </div>

    </div>

     <button type="submit" [disabled]="bookForm.form.invalid" class="btn btn-default">Submit</button>
      
  
<!--
    <hr>
    <h2> Form </h2>
  
    <li><b>$dirty:</b> {{ bookForm.dirty }}  One or more fields have been modified.
    <li><b>$invalid:</b> {{ bookForm.invalid }} The form content is not valid.
    <li><b>$valid:</b> {{ bookForm.valid }}  The form content is valid.
  -->
      
  </form>
</div>

  
  <hr>
  <div>
    <h2>Model:</h2>
    {{ currentBook }}
  </div>
 

